@font-face {
    font-family: "fredoka";
    src: url(/assets/fonts/static/Fredoka-Regular.ttf);
}

:root {
    --color-primary: #34495E;

    --color-primary-light: #6FA9BB;
    --color-primary-dark: #2c3e50;
    --color-secondary: #4a674f;

    --color-accent: #f59e0b;
    --color-orange: #CC7D5F;
    --color-orange-matte: #cc7e5f1f;
    --color-beige: #EEE2D3;

    --color-background: #ffffff;
    --color-surface: #f9fafb;
    --color-border: #DFE6E9;
    --color-text-default: #555555;
    --color-text-muted: #7F8C8D;

    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-base: 16px;
    --font-size-l: 20px;
    --font-size-xl: 24px;
    --font-size-2xl: 36px;
    --font-size-3xl: 48px;

    --font-weight-base: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --spacing-xs: 8px;
    --spacing-s: 16px;
    --spacing-m: 24px;
    --spacing-l: 32px;
    --spacing-xl: 40px;
    --spacing-2xl: 60px;

    --radius-s: 4px;
    --radius-m: 8px;
    --radius-l: 16px;

    --shadow-s: 0 1px 2px rgba(0, 0, 0, 0.05);
    --shadow-m: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-l: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: var(--spacing-2xl);
    font-family: "fredoka", sans-serif;
    background-image: url(../assets/images/background-pic.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-xl);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

}


.header-container-right {
    display: flex;
    gap: var(--spacing-xl);
    ;
}

.header-container-right-img {
    width: var(--spacing-2xl);
    height: var(--spacing-2xl);
    object-fit: cover;
    border-radius: 50%;
}

.header-container-right-img:hover {
    cursor: pointer;
}

.header-container-left-logo {
    width: 200px;
    height: auto;
}


#app {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px; 
}


.footer {
    font-size: var(--font-size-s);
    color: var(--color-accent);
}


button {
    font-family: "fredoka";
    border-radius: var(--radius-m);
    border: none;
    color: var(--color-background);
    text-shadow: var(--shadow-m);
    
    box-shadow: var(--shadow-m);
    transition: transform 0.2s, box-shadow 0.2s;
    justify-self: center;
}