@font-face {
    font-family: "fredoka";
    src: url(/frontend/assets/fonts/static/Fredoka-Regular.ttf);
}

:root {
    --color-primary: #34495E;
    /* Huvudsakliga färgen: knappar, länkar, logga, aktiva element */
    --color-primary-light: #6FA9BB;
    --color-primary-dark: #2c3e50;
    --color-secondary: #4a674f;
    /* komplement till primary: andra knappar eller andra detaljer */
    --color-accent: #f59e0b;
    /* Fångar uppmärksamhet */
    --color-background: #ffffff;
    --color-surface: #f9fafb;
    --color-border: #DFE6E9;
    --color-text-default: #555555;
    --color-text-muted: #7F8C8D;

    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-base: 16px;
    --font-size-l: 20px;
    --font-size-xl: 24px;
    --font-size-2xl: 36px;
    --font-size-3xl: 48px;

    --font-weight-base: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --spacing-xs: 8px;
    --spacing-s: 16px;
    --spacing-m: 24px;
    --spacing-l: 32px;
    --spacing-xl: 40px;
    --spacing-2xl: 60px;

    --radius-s: 4px;
    --radius-m: 8px;
    --radius-l: 16px;

    --shadow-s: 0 1px 2px rgba(0, 0, 0, 0.05);
    --shadow-m: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-l: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.body {
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: var(--spacing-2xl);
    font-family: "fredoka", sans-serif;
    background-image: url(../assets/images/background-pic.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-xl);
}

/* /* Mörk overlay 
body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
} */


/* --- Header --- */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-container-right {
    display: flex;
    gap: var(--spacing-xl);
    ;
}

.header-container-right-img {
    width: 40px;
    /* *** sätt i :ROOT */
    height: auto;
}

.header-container-left-logo {
    width: 200px;
    /* *** sätt i :ROOT */
    height: auto;
}


/* Main */
#app {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;

    background-color: var(--color-background);

}

.footer {
    font-size: var(--font-size-s);
    color: var(--color-accent);
}