:root {
    --color-primary: #34495E;
    /* Huvudsakliga färgen: knappar, länkar, logga, aktiva element */
    --color-primary-light: #6FA9BB;
    --color-primary-dark: #2c3e50;
    --color-secondary: #4a674f;
    /* komplement till primary: andra knappar eller andra detaljer */
    --color-accent: #f59e0b;
    --color-orange: #CC7D5F;
    --color-orange-matte: #cc7e5f1f;
    
    /* Fångar uppmärksamhet */
    --color-background: #ffffff;
    --color-surface: #f9fafb;
    --color-border: #DFE6E9;
    --color-text-default: #555555;
    --color-text-muted: #7F8C8D;

    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-base: 16px;
    --font-size-l: 20px;
    --font-size-xl: 24px;
    --font-size-2xl: 36px;
    --font-size-3xl: 48px;

    --font-weight-base: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --spacing-xs: 8px;
    --spacing-s: 16px;
    --spacing-m: 24px;
    --spacing-l: 32px;
    --spacing-xl: 40px;
    --spacing-2xl: 60px;

    --radius-s: 4px;
    --radius-m: 8px;
    --radius-l: 16px;

    --shadow-s: 0 1px 2px rgba(0, 0, 0, 0.05);
    --shadow-m: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-l: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.profile-box {
    width: 1200px;
    height: 600px; /* Vet inte riktigt */
    background-color: #EEE2D3;
    border-radius: var(--radius-m);
    position: relative;
    overflow: auto;
}

.profileHead {
    height: 120px;
    padding: var(--spacing-xs) var(--spacing-l);
    display: grid;
    grid-template-columns: 1fr 150px 150px;
    align-items: center;
}

.nameDiv {
    display: flex;
    gap: var(--spacing-s);
    justify-self: baseline;
}
.profile-pic {
    width: var(--spacing-2xl);
    height: var(--spacing-2xl);
    background-color: var(--color-accent);
    border-radius: 50%;
}



/* LISTOR */
.allListsContainer {
    margin: 0 auto;
    padding-bottom: var(--spacing-m);
    width: 1048px;
    gap: var(--spacing-m);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items:center;

}

.listContainer {
    background-color: var(--color-background);
    border-radius: var(--radius-m);
    box-shadow: var(--shadow-m);
    width: 240px;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.listHead {
    padding: 0 var(--spacing-s);
    background-color:var(--color-orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.listHead h3 {
    font-weight: var(--font-weight-semibold);
}

.edit:hover {
    cursor:pointer;
    filter:brightness(0.25);
}

button {
    font-family: "fredoka";
    border-radius: var(--radius-m);
    border: none;
    color: var(--color-background);
    text-shadow: var(--shadow-m);
    
    box-shadow: var(--shadow-m);
    transition: transform 0.2s, box-shadow 0.2s;
    justify-self: center;
}

button:hover {
    transform: scale(1.05);
    box-shadow: var(--shadow-l);
}

#create-list-button {
    margin-right: var(--spacing-l);
    justify-self: last baseline;
    font-size: var(--font-size-base);
    background-color: var(--color-orange);
    width: 120px;
    height: 50px;
}

#doneBtn {
    justify-self: last baseline;
    font-size: var(--font-size-s);
    background-color: var(--color-secondary);
    width: 80px;
    height: var(--spacing-xl);
}


#handleListView {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #EEE2D3;
    z-index: 8;
    display: none;
    overflow: scroll;
}

/* När den ska visas */
#handleListView.active {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--spacing-2xl);
}
#editList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 0 auto auto;
    width: 700px;
    min-height: 500px;
    background-color: var(--color-orange-matte);
    border-radius: var(--radius-m);
    padding:var(--spacing-m);

}

#inner {
    grid-column: span 2;
    background-color: #EEE2D3;
    border-radius: var(--radius-m);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-xs);
    padding-bottom: var(--spacing-s);
}
.itemDiv {
    color: var(--color-text-default);
    display: grid;
    grid-template-columns: 1fr 150px 1fr 1fr 1fr;
    width: 150px;
    gap: var(--spacing-xs);
    align-items: center;
}

.type {
    padding-left: var(--spacing-xs);

}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: var(--spacing-s);
    height: var(--spacing-s);
    border: 1px solid #1e2b1e;
    border-radius: var(--radius-s);
    background-color: #EEE2D3; /* ocheckad bakgrund */
    cursor: pointer;
    position: relative;
}

.checkbox:checked {
    background-color: var(--color-orange); /* grön när den är ibockad */
}

.checkbox:checked::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 4px;
    width: 4px;
    height: var(--spacing-xs);
    border: solid var(--color-border);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

#addBtn {
    border-radius: 50%;
    background-color: var(--color-orange);
    height: var(--spacing-s);
    width: var(--spacing-s);
    display:flex;
    align-items: center;
    justify-content: center;
}
#addBtn:hover {
    cursor: pointer;
    box-shadow: var(--shadow-l);
}
#addBtn:active {
    box-shadow: none;
}

#reduceBtn {
    border-radius: 50%;
    border: 1px solid var(--color-orange);
    height: var(--spacing-s);
    width: var(--spacing-s);
    display:flex;
    align-items:center;
    justify-content: center;
}
#reduceBtn:hover {
    cursor: pointer;
    box-shadow: var(--shadow-l);
}
#reduceBtn:active {
    box-shadow: none;
}


.textBtn {
    font-size: var(--font-size-s);
    padding: 2px;
    color: var(--color-orange);
}

.textBtn:hover {
    cursor: pointer;
    text-shadow:var(--shadow-s);
}

.addItemInput {
    font-family: "fredoka";
    margin-left: var(--spacing-xs);
    border:1px solid var(--color-orange);
    border-radius: 2px;
    background-color: var(--color-surface);
    
}

#aboutBox {
    width: 260px;
    margin: 250px auto 0 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-s);
    position: relative;
}

#aboutLabel {
    background-color: var(--color-orange);
    color: var(--color-background);
    padding: var(--spacing-xs) var(--spacing-s);
    border-radius: var(--radius-m);

    position: absolute;
    top: -10px;
    transform: translateY(-50%);
}

.aboutCard {
    background: var(--color-background);
    padding: var(--spacing-s);
    border-radius: var(--radius-m);
    width: 100%;
    text-align: center;
    box-shadow: var(--shadow-s);
}

.aboutCard.weather span {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
}

.aboutCard.bag {
    background-color: var(--color-orange);
    color: var(--color-background);
    font-size: var(--font-size-base);
    border-radius: var(--radius-m);
    text-shadow: var(--shadow-s);

}


#settings-button {
    margin-right: var(--spacing-xs);         
    font-size: var(--font-size-base);
    width: 120px;
    height: 50px;
    background-color: var(--color-secondary);  
    color: var(--color-background);
}
