@font-face {
    font-family: "fredoka";
    src: url("../assets/fonts/Fredoka-VariableFont_wdth\,wght.ttf");
}

body {
    margin: 0;
    font-family: "fredoka";
    background-image: url(frontend/assets/images/background-pic.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    min-height: 100vh;
}


/* Header: */ 
header {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 50px;
    
    align-items: center;
    padding: 15px;

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* så att den ligger över allt annat */
}

#header-left {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding-left: 10px;
}

#header-right {
    display: flex;
    gap: 24px;
    margin-right: 30px;
}

.header-img {
    height: 32px;
}

#logo {
    color: black;
    text-shadow: none;
    font-size: 22px;
    height: 32px; /*så länge*/
} 

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    
    z-index: -1;
}

.profile-box {
    margin-top:30px;
    width: 1200px;
    height: 600px; /* Vet inte riktigt */
    background-color: #EEE2D3;
    border-radius: 12px;

    overflow-y: auto;
}

.profileHead {
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.nameDiv {
    display: flex;
    gap: 8px;
    margin-left: 40px;
    justify-self: baseline;
}
.profile-pic {
    width: 50px;
    height: 50px;
    background-color: #BF694D;
    border-radius: 50%;
    margin: 0 auto 20px;
}



/* LISTOR */
.allListsContainer {
    margin: 0 auto;
    padding-bottom:24px;
    width:1048px;
    gap: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items:center;

}

.listContainer {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 240px;
    height: 300px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow: scroll;
}
.listHead {
    padding: 0 16px;
    background-color:#CC7D5F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.listHead h3 {
    font-weight: 500;
}

.edit:hover {
    cursor:pointer;
    filter:brightness(0.25);
}

button {
    font-family: "fredoka";
    border-radius: 5px;
    border: none;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
    box-shadow: 2px 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    justify-self: center;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 4px 6px 12px rgba(0,0,0,0.3);
}


#create-list-button {
    margin-right: 40px;
    justify-self: last baseline;
    font-size: 16px;
    background-color: #cc7d5f;
    width: 150px;
    height: 50px;
}

#doneBtn {
    margin-left: 40px;
    justify-self: last baseline;
    font-size: 14px;
    background-color: #4A634F;
    width: 80px;
    height: 40px;
}


#handleListView {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #EEE2D3;
    z-index: 9;
    display: none;
    overflow: scroll;
}

/* När den ska visas */
#handleListView.active {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 60px;
}
#editList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 0 auto auto;
    width: 700px;
    min-height: 500px;
    background-color: #cc7e5f31;
    border-radius: 12px;
    padding:20px;

}

#inner {
    grid-column: span 2;
    background-color: #EEE2D3;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding-bottom: 16px;
}
.itemDiv {
    color: #1e2b1e;
    display: grid;
    grid-template-columns: 1fr 150px 1fr 1fr 1fr;
    width: 150px;
    gap: 10px;
    align-items: center;
}

.type {
    padding-left: 8px;

}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #1e2b1e;
    border-radius: 4px;
    background-color: #EEE2D3; /* ocheckad bakgrund */
    cursor: pointer;
    position: relative;
}

.checkbox:checked {
    background-color: #CC7D5F; /* grön när den är ibockad */
}

.checkbox:checked::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 4px;
    width: 4px;
    height: 8px;
    border: solid #f1f1f1;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

#addBtn {
    border-radius: 50%;
    background-color: #cc7d5f;
    height: 16px;
    width: 16px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#addBtn:hover {
    cursor: pointer;
    box-shadow: 0.5px 0.5px 1px rgba(128, 128, 128, 0.68);
}
#addBtn:active {
    box-shadow: none;
}

#reduceBtn {
    border-radius: 50%;
    border: 1px solid #cc7d5f;
    height: 15px;
    width: 15px;
    display:flex;
    align-items:center;
    justify-content: center;
}
#reduceBtn:hover {
    cursor: pointer;
    box-shadow: 0.5px 0.5px 1px rgba(128, 128, 128, 0.519);
}
#reduceBtn:active {
    box-shadow: none;
}


.textBtn {
    font-size: 14px;
    padding: 2px;
    color: #CC7D5F;
}

.textBtn:hover {
    cursor: pointer;
    text-shadow:0.5px 0.5px 1px rgba(128, 128, 128, 0.433);
}

.addItemInput {
    font-family: "fredoka";
    margin-left: 8px;
    border:1px solid #CC7D5F;
    border-radius: 2px;
    background-color: #f1f1f1;
    
}

#aboutBox {
    width: 260px;
    margin: 250px auto 0 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
}

#aboutLabel {
    background-color: #c1654b;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;

    position: absolute;
    top: -10px;
    transform: translateY(-50%);
}

.aboutCard {
    background: white;
    padding: 1rem;
    border-radius: 12px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.aboutCard.weather span {
    font-size: 2rem;
    font-weight: bold;
}

.aboutCard.bag {
    background-color: #c1654b;
    color: white;
    font-size: 1rem;
    border-radius: 12px;
}


