:root {
    --color-primary: #34495E;

    --color-primary-light: #6FA9BB;
    --color-primary-dark: #2c3e50;
    --color-secondary: #4a674f;

    --color-accent: #f59e0b;
    --color-orange: #CC7D5F;
    --color-orange-matte: #cc7e5f1f;
    --color-beige: #EEE2D3;

    --color-background: #ffffff;
    --color-surface: #f9fafb;
    --color-border: #DFE6E9;
    --color-text-default: #555555;
    --color-text-muted: #7F8C8D;

    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-base: 16px;
    --font-size-l: 20px;
    --font-size-xl: 24px;
    --font-size-2xl: 36px;
    --font-size-3xl: 48px;

    --font-weight-base: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --spacing-xs: 8px;
    --spacing-s: 16px;
    --spacing-m: 24px;
    --spacing-l: 32px;
    --spacing-xl: 40px;
    --spacing-2xl: 60px;

    --radius-s: 4px;
    --radius-m: 8px;
    --radius-l: 16px;

    --shadow-s: 0 1px 2px rgba(0, 0, 0, 0.05);
    --shadow-m: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-l: 0 10px 15px rgba(0, 0, 0, 0.15);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
* {
    box-sizing: border-box;
}

.open-button {
  background-color: var(--color-text-default);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 280px;
}

.account-popup {
    position: fixed;
    z-index: 9;
    inset: 0;
    background: rgba(0,0,0,0.35);
}

.account-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 320px;
    width: 90%;
    padding: var(--spacing-m) var(--spacing-m) var(--spacing-l);
    background-color: var(--color-background);
    border-radius: var(--radius-l);
    box-shadow: var(--shadow-l);
    text-align: center;
}
.account-container h1{
    color: black;
}

.account-container #create-text{
    color: var(--color-orange);
    font-size: var(--font-size-l);
    text-align: center;
    padding-bottom: var(--spacing-2xl);
}

.profile-pic {
    width: 96px;
    height: 96px;
    background-color: var(--color-orange);
    border-radius: 50%;
    margin: 0 auto var(--spacing-m);
}

.account-container input {
    width: 100%;
    padding: 14px var(--spacing-s);
    font-size: var(--font-size-base);
    border: 1px solid var(--color-orange);
    border-radius: var(--radius-m);
    background: #f1f1f1;
    transition: box-shadow 0.25s ease, transform 0.2s ease;
}

.account-container input:focus {
    outline: none;
    background: var(--color-background);
    box-shadow: 0 0 8px var(--color-orange);
    transform: scale(1.03);
}

.account-container .btn {
    background-color: var(--color-orange);
    color: var(--color-background);
    padding: var(--spacing-s) var(--spacing-m);
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}

.btn {
    background-color: var(--color-orange);
    color: var(--color-background);
    padding: var(--spacing-s) var(--spacing-m);
    border: none;
    border-radius: var(--radius-m);
    cursor: pointer;
    width: 100%;
    font-size: var(--font-size-m);
    transition: box-shadow 0.2s ease;
}
.btn:hover {
    box-shadow: 0 6px 16px var(--color-orange);
}
.btn.cancel {
    background-color: var(--color-secondary);
}
.btn.cancel:hover {
    box-shadow: 0 6px 16px var(--color-text-default);
}