body {
    font-family: sans-serif;
    background-color: rgb(150, 205, 252);
    color: black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

header>h1 {
    margin: 0;
}

.run-tests-btn {
    padding: 10px 20px;
}

#wrap {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.request-log {
    width: 100%;
    display: grid;
    gap: 4px;
}

.row {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    background-color: aliceblue;
    border-radius: 6px;
}

.row.header {
    background-color: rgb(200, 208, 214);
    font-weight: bold;
}


.rowDiv {
    flex: 1;
}

.status {
    padding: 0.15em 0.5em;
    border-radius: 4px;
    font-weight: bold;
}

.status.success {
    background-color: #26a95d;
    color: black;
}

#user-list {
    flex: 1 1 0;
    width: 100%;
    padding: 0 8px 4px;
    border-radius: 4px;
    height: 200px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: scroll;
}

#user-list h3 {
    margin: 10px 0;
    font-size: 13pt;
}


.user-item {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgb(200, 208, 214);
}


.userRow {
    background-color: blanchedalmond;
}

.listRow {
    background-color: darkgray;
}

.weatherRow {
    background-color: tan;
}

.unsplashRow {
    background-color: whitesmoke;
}