@font-face {
    font-family: "fredoka";
    src: url(Fredoka/Fredoka-VariableFont_wdth\,wght.ttf);
}

body {
    margin: 0;
    font-family: "fredoka";
    background-image: url(berg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}